@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import "tailwindcss";

@keyframes slideIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin{
  animation: spin 4s linear infinite;
}